@import 'variables.less';

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto Italic';
  src: url(/fonts/Roboto-LightItalic.ttf);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, html, body {
    font-family: "Roboto";
    font-weight: 400;
}

* {
    &:focus {outline:0;}
}

html,
body {
    height: 100%;
}
body {
    overflow-x: hidden;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -195px;
    padding: 0 0 195px;
}

.container {
    @media(max-width: 992px) {
        width: 100%;
    }
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 195px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    background-color: @grey;
    color: @white;
    overflow: hidden;

    @media(max-width: 768px) {
        height: auto;
        text-align: center;
        img {
            padding-bottom: 15px;
        }
    }

    .contacts {
        text-align: right;
        @media(max-width: 768px) {
            text-align: center;
            padding-top: 15px;
        }
        a {
            color: @yellow-1;
            border-bottom: 1px solid @yellow-2;
        }
        .phone {
            font-size: 24px;
            font-weight: 200;
            border-bottom: 0;
        }
        span {
            display: block;
        }
    }

    .license {
        color: #c9c9c9;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: 200;
        background: #1b1b1b;
        margin-top: 20px;
        a {
            color: #c9c9c9;
        }
        @media(max-width: 768px) {
            height: auto;
            padding-bottom: 150px;
        }
    }

    .footer-menu {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
        li {
            list-style: none;
            a {
                color: @yellow-1;
            }
        }
        @media(max-width: 768px) {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }
    }

}

.block {
    width: 100%;
    &.content {
        padding: 70px 0;
        @media(max-width: 480px) {
            padding: 30px 0;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 200;
        margin: 0 0 20px 0;
        @media(max-width: 480px) {
            font-size: 16px;
        }
    }

    p {
        font-size: 16px;
        font-weight: 200;
        @media(max-width: 480px) {
            font-size: 14px;
        }
    }

}

.menu {
    height: 110px;
    background-color: @grey;
    @media(max-width: 768px) {
        height: 60px;
    }
    .logo {
        padding-top: 10px;
        display: inline-block;
        padding-right: 90px;
        @media(max-width: 980px) {
            padding-top: 25px;
            padding-right: 50px;
            img {
                max-width: 50px;
            }
        }
    }
    .menu-list {
        display: inline-block;
        ul {
            display: block;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
            }
        }
        a {
            font-size: 16px;
            font-weight: 400;
            color: @white;
            text-transform: uppercase;
            padding-right: 50px;
            &:active, &:hover {
                text-decoration: none;
                color: #d5d5d5;
            }
            @media(max-width: 980px) {
                font-size: 14px;
                font-weight: 400;
                padding-right: 24px;
            }
        }
    }
    .contacts {
        padding-top: 18px;
        ul {
            display: block;
            padding: 0;
            margin: 0;
            color: #fff;
            li {
                list-style: none;
            }
            li.phone {
                a {
                    color: #fff;
                    font-size: 18px;
                    font-weight: 200;
                }
                background-image: url('/images/ico-phone.png');
                background-position: left center;
                background-repeat: no-repeat;
                padding-left: 40px;
                margin-bottom: 10px;
            }
            li.address {
                font-size: 12px;
                font-weight: 200;
                background-image: url('/images/ico-location.png');
                background-position: left center;
                background-repeat: no-repeat;
                padding-left: 40px;
            }
        }
    }
}


.mobile-menu {
    img {
        max-height: 46px;
        margin-top: 7px;
    }
    .modal-header {
    }
    .menu-icon {
        button {
            font-size: 24px;
            padding: 5px;
            color: @white;
            line-height: 50px;
            background: none;
        }
    }
    ul {
        padding: 0;
        li {
            list-style: none;
            margin-bottom: 10px;
            a {
                color: @grey;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
    .contacts {
        text-align: center;
        i {
            padding-right: 15px;
        }
    }
}

button {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    &:focus {outline:0;}
    &.shadow {
        .drop-shadow(1px, 5px);
    }

    &.yellow {
        background: @yellow-1;
        color: @grey;
        .transition(all 0.8s);
        &:hover {
            background: @yellow-2;
        }
        &:active {
            margin-top: 5px;
        }
        &.lg {
            font-size: 28px;
        }
    }
}
