@import 'variables.less';

.index {
    ol {
        padding-left: 0;
        margin-left: 25px;
        font-size: 16px;
    }
    .banner {
        height: 740px;
        @media(max-width: 768px) {
            height: 480px;
        }

        .slide-1, .slide-2, .slide-3 {
            height: 740px;
            background: url('/images/background-1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            @media(max-width: 768px) {
                height: 480px;
            }
            .sitename {
                font-size: 72px;
                font-weight: bold;
                margin-top: 170px;
                margin-bottom: 40px;
                color: @grey;
                @media(max-width: 768px) {
                    font-size: 48px;
                    margin-top: 90px;
                }
                @media(max-width: 480px) {
                    font-size: 36px;
                    margin-top: 60px;
                }
            }
            h1, .description p {
                font-size: 36px;
                color: @yellow-1;
                background: rgba(0,0,0,.4);
                display: inline;
                line-height: normal;
                padding: 0 5px;
                @media(max-width: 768px) {
                    font-size: 24px;
                }
                @media(max-width: 480px) {
                    font-size: 16px;
                }
            }
            .catalog-btn {
                margin-top: 70px;
            }
        }

        .slide-2 {
            background: url('/images/background-11.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            .description {
                margin-top: 170px;
                max-width: 800px;
                p {
                    font-weight: 200;
                    color: #fff;
                }
                @media(max-width: 768px) {
                    margin-top: 90px;
                }
                @media(max-width: 480px) {
                    margin-top: 60px;
                }
            }
        }
        .slide-3 {
            background: url('/images/background-111.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            .description {
                margin-top: 170px;
                max-width: 800px;
                p {
                    font-weight: 200;
                    color: #fff;
                }
                @media(max-width: 768px) {
                    margin-top: 90px;
                }
                @media(max-width: 480px) {
                    margin-top: 60px;
                }
            }
        }


    }

    .search {
        background-color: @yellow-1;
        padding: 25px 0;
        text-align: center;
        // margin: 0 auto;
        .search-form {
            position: relative;
            @media(max-width: 768px) {
                display: inline-block;
                width: 90%;
            }
        }
        .search-input {
            width: 100%;
            max-width: 420px;
            height: 40px;
            padding: 0 15px;
            font-size: 14px;
            border: 0;
            vertical-align: top;
            @media(max-width: 768px) {
                float: left;
                width: 80%;
            }
            @media(max-width: 480px) {
                width: 70%;
            }
        }
        .submit {
            .border-radius(0);
            height: 40px;
            border: 0;
            vertical-align: top;
            background-color: @grey;
            color: @white;
            margin-left: -3px;
            @media(max-width: 768px) {
                width: 20%;
                float: left;
            }

            @media(max-width: 480px) {
                width: 30%;
                font-size: 14px;
            }
        }
    }

    .about {
        background-image: url('/images/background-2.jpg');
        background-position: center;
        background-size: cover;
        p {
            font-weight: 400;
        }

        .contact-form {
            margin: 0 auto;
            padding: 25px 15px;
            background-color: @grey;
            max-width: 380px;
            color: @white;
            .drop-shadow(3px, 5px);
            @media(max-width: 768px) {
                margin-top: 25px;
            }
            h2 {
                color: @yellow-1;
                text-transform: uppercase;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
            }

            .control-label {
                color: @white;
                font-weight: 200;
            }

            button {
                background-color: @yellow-1;
                .border-radius(0);
                margin-top: 20px;
                width: 100%;
                color: @grey;
            }

            p {
                color: @white;
                font-size: 14px;
                font-weight: 200;
            }

            a {
                color: @yellow-1;
                font-weight: 500;
            }
        }
    }

    .catalog {
        background: @yellow-1;

        .catalog-list {
            margin-top: 60px;
        }

        @media(max-width: 768px) {
            text-align: center;
        }

        .catalog-item {
            .image {
                .drop-shadow(0, 5px);
                display: inline-block;
                margin: 0 auto 20px auto;
                &:hover {
                    img {
                        opacity: 0.8;
                    }
                }
            }

            .name {
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 10px;
            }

            .button {
                margin-bottom: 30px;
                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 50px;
                    text-align: center;
                    display: block;
                    height: 50px;
                    width: 100%;
                    background: @grey;
                    color: @white;
                    .transition(all 0.4s);
                    &:hover {
                        text-decoration: none;
                    }
                }
                @media(max-width: 768px) {
                    max-width: 260px;
                    width: 100%;
                    display: inline-block;
                }
            }
        }

    }

    .benefits {
        h2 {
            margin-bottom: 70px;
        }
        .item {
            @media(max-width: 768px) {
                max-width: 320px;
                margin: 0 auto;
                padding-bottom: 25px;
            }
            img {
                display: block;
                margin: 0 auto 20px auto;
            }
            .name {
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                color: @grey;
            }
            .description {
                font-size: 14px;
                font-weight: 200;
            }
        }
    }

    .map {
        height: 400px;
        iframe {
            width: 100% !important;
        }
    }
}

.page-catalog {
    padding: 70px 0;
    h1 {
        font-size: 32px;
        font-weight: 200;
    }
    .description {
        font-size: 16px;
        color: @grey;
        padding-bottom: 20px;
    }

    .catalog-item {
        width: 25%;
        float: left;
        padding: 10px;
        position: relative;
        overflow: hidden;
        @media(max-width: 980px) {
            width: 33%;
        }
        @media(max-width: 768px) {
            width: 50%;
        }
        @media(max-width: 480px) {
            width: 100%;
        }
        .image {
            height: 180px;
            overflow: hidden;
            border: 1px solid #ccc;
            text-align: center;
            position: relative;

            .blur {
                position: absolute;
                width: 100%;
                height: 100%;

                -webkit-filter: blur(5px);
                -moz-filter: blur(5px);
                -o-filter: blur(5px);
                -ms-filter: blur(5px);
                filter: blur(5px);
                img {
                  width: 100%;
                  height: 100%;
                  opacity: 0.5;
                }
            }
            .content-image {
                position: absolute;
                width: 100%;
                height: 100%;
                img {
                    max-width:100%;
                    max-height:100%;
                    margin: 0 auto;
                }
            }


        }
        .name {
            height: 80px;
            margin-top: 5px;
            font-size: 16px;
            text-align: center;
        }
    }
}

.page-item-view {
    padding: 70px 0;
    h1 {
        font-size: 21px;
        font-weight: 200;
    }
    .description {
        font-size: 16px;
    }
}
